doctype html
html
    head
        title Add Book
        link(rel="stylesheet", href="/styles.css")
    body
        h1 Add a New Book
        form(action='/add', method='POST')
            div
                label(for='title') Title:
                input(type='text', name='title', id='title')
            div
                label(for='author') Author:
                input(type='text', name='author', id='author')
            div
                button(type='submit') Add Book
